@{
    ViewBag.Title = "Home Page";
}
<div>
    <input id="txts-createname" />
    <button onclick="appendTemplate()" id="btn-smbt">Submit</button>

</div>
<div id="div-treeview">

</div>
<script src="~/Content/Treebuilder.js"></script>
